<ul>
    <li><a href="{% url "tenis:player-create" %}">Create player</a></li>
    <li><a href="{% url "tenis:match-create" %}">Create match</a></li>
    <li><a href="{% url "tenis:tournament-create" %}">Create tournament</a></li>
</ul>
